:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    /* zoom: 1.5; */
    /* zoom: 2; */
    /* zoom: 4; */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

li {
    list-style: none;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #1a1a1a;
    background-color: #ddd;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #888;
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

.hidden {
    visibility: hidden;
    opacity: 0;
}

.card {
    cursor: grab;
    padding: 1em;
    border: 1px solid;
}

canvas {
    /* border: 1px solid #535bf2; */
}

#canvas-container {
    display: flex;
    justify-content: center;
}

header#game-header {
    position: fixed;
    background-color: #333;
    width: 100%;
}

#bottom-bar {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* border: solid 1px #535bf2; */

    #display-top {
        position: relative;
        height: 20px;

        #mana-bar,
        #castle-bar {
            position: absolute;
            height: 18px;
            width: 25%;
        }
        #mana-bar-fill,
        #castle-bar-fill {
            height: 100%;
            width: 10%;
        }
        #mana-display,
        #castle-display {
            position: absolute;
            font-size: 40px;
            font-weight: bold;
            bottom: 20px;
        }

        #mana-bar {
            background-color: rgb(6, 36, 125);
            right: 0;
        }
        #mana-bar-fill {
            background-image: linear-gradient(60deg, rgb(0, 89, 255), rgb(118, 25, 218));
        }
        #mana-display {
            right: 20px;
        }

        #castle-bar {
            background-color: rgb(148, 33, 13);
            left: 0;
        }
        #castle-bar-fill {
            background-image: linear-gradient(60deg, rgb(255, 162, 0), rgb(218, 176, 25));
        }
        #castle-display {
            left: 20px;
        }
    }
    #display-bottom {
        /* width: 100%; */
        /* border: 1px solid red; */

        #unit-display {
            display: flex;
            /* border: solid 2px #c6501e; */
        }
    }
}

#wave-bonus-screen {
    background-color: #333;
    position: fixed;
    top: 300px;
    width: 100%;
    border: 1px solid red;
    text-align: center;

    #wave-bonus-cards-list {
        display: flex;
        justify-content: center;
    }
}

#gameover-banner {
    position: fixed;
    pointer-events: none;
    background-color: #333;
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button,
    a {
        pointer-events: all;
    }
}

#pause-menu {
    background: #333;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s;
    opacity: 0.9;

    #bonus-card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.bonus-card {
    max-width: 180px;
    height: 100%;
    padding: 1rem;
    border: 1px solid;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
