:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    /* zoom: 1.5; */
    /* zoom: 2; */
    /* zoom: 4; */
}

canvas {
    /* border: 1px solid #535bf2; */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

li {
    list-style: none;
}

.card {
    cursor: grab;
    padding: 1em;
    border: 1px solid;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #1a1a1a;
    background-color: #ddd;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    background-color: #888;
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.hidden {
    visibility: hidden;
}

#unit-display {
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* border: solid 1px #535bf2; */
}

#unit-display > ul {
    display: flex;
    /* border: solid 2px #c6501e; */
}

#mana-bar {
    position: relative;
    height: 20px;
    width: 100%;
    background-color: rgb(6, 36, 125);
}

#mana-bar-fill {
    background-image: linear-gradient(60deg, rgb(0, 89, 255), rgb(118, 25, 218));
    /* background-image: linear-gradient(60deg, rgb(0, 89, 255), aquamarine); */
    height: 100%;
    width: 10%;
}
#mana-display {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
}
